@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  background: #eee9e9;
}

h1,
h4,
p,
a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@keyframes marquee {
  0% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(-150px);
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(248, 217, 15);
  color: black;
  border: 2px solid #fff;
  font-weight: 600;
  cursor: pointer;
  width: auto;
  width: 150px;
  overflow: hidden;
  transition: 0.2s all ease-in-out;
}

.button-light {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  font-weight: 600;
  cursor: pointer;
  width: 150px;
  overflow: hidden;
  transition: 0.2s all ease-in-out;
}

.button-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.button:hover .button-text {
  animation: marquee 0.75s linear infinite;
}

.button-light:hover {
  color: #fff;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.2);
}

.button-light:hover .button-text {
  animation: marquee 0.75s linear infinite;
}

/* -------------------------------- */
/* Mobile Devices */
/* -------------------------------- */
@media screen and (min-width: 0px) and (max-width: 480px) {
  .button {
    position: relative;
    padding: 10px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    background: rgb(248, 217, 15);
    color: black;
    border: 2px solid #fff;
    font-weight: 600;
    cursor: pointer;
  }

  .button-light {
    position: relative;
    padding: 10px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    font-weight: 600;
    cursor: pointer;
  }
}
