.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 280px;
  background-color: #1d332e;

  &__logo {
    display: grid;
    place-items: center;
    height: 120px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Mochiy Pop P one", sans-serif;
    color: #fff;
  }

  &__menu {
    position: relative;

    &__item {
      display: flex;
      align-items: center;
      place-content: flex-start;
      padding: 1rem 3rem;
      font-size: 1.25rem;
      font-weight: 500;
      color: #fcf8f8;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.15);
      }

      &.active {
        color: #fff;
      }

      &__icon {
        margin-right: 1rem;

        i {
          font-size: 1.75rem;
        }
      }
    }

  }
}

/* -------------------------------- */
/* Mobile Devices */
/* -------------------------------- */
@media screen and (min-width: 0px) and (max-width: 480px) {
}

/* -------------------------------- */
/* Tablets */
/* -------------------------------- */
@media screen and (min-width: 480px) and (max-width: 720px) {
} //end of media Tablet Styling

/* -------------------------------- */
/* Small Screens */
/* -------------------------------- */
@media screen and (min-width: 721px) and (max-width: 1080px) {
}

/* -------------------------------- */
/* Desktop Screens */
/* -------------------------------- */

@media screen and (min-width: 1081px) and (max-width: 1200px) {
}
