.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 280px;
  background-color: #1d332e;
  box-shadow: 10px 10px 5px black;
  border-right: 2px solid white;

  &__logo {
    display: grid;
    place-items: center;
    height: 120px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
  }

  &__menu {
    position: relative;

    &__item {
      display: flex;
      align-items: center;
      place-content: flex-start;
      padding: 1rem 1.5rem;
    }
  }
}

/* -------------------------------- */
/* Mobile Devices */
/* -------------------------------- */
@media screen and (min-width: 0px) and (max-width: 480px) {
}

/* -------------------------------- */
/* Tablets */
/* -------------------------------- */
@media screen and (min-width: 480px) and (max-width: 720px) {
} //end of media Tablet Styling

/* -------------------------------- */
/* Small Screens */
/* -------------------------------- */
@media screen and (min-width: 722px) and (max-width: 1080px) {
}

/* -------------------------------- */
/* Desktop Screens */
/* -------------------------------- */

@media screen and (min-width: 1082px) and (max-width: 1200px) {
}
