.resumes {
  text-align: center;
}

.profile-page {
  background-color: white;
}

body {
  background-color: white;
}

.img {
  width: 500px;
  height: auto;
}

.page-title {
  color: black;
  margin: 25px 0;
}

.widget-button {
  margin-bottom: 10px;
}
