.resumes {
  text-align: center;
}

.profile-page {
  background-color: white;
}

body {
  background-color: white;
}

.img {
  width: 500px;
  height: auto;
}

.widget-title {
  color: black;
  margin: 0 15px 15px 15px;
}

.widget-button {
  margin-bottom: 10px;
}
