.reviewer-container {
  margin: 25px 0;
}

.reviewer {
  display: inline-block;
  display: inline;
  cursor: pointer;
}

.reviewer h1 {
  font-weight: bold;
  color: black;
  text-align: left;
  display: inline;
}

.icon {
  margin-left: 50px;
  display: inline-block;
}

.availability-container{
  margin: 25px 0;
}

.details {
  font-size: 20px;
  background-color: #000000;
}

.schedule p {
  color: #000000;
}


