.project-heading {
  text-align: center;
  padding: 4rem 0 2rem 0;
  background-color: #1d332e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding-bottom: 5rem;
}

.card {
  opacity: 0;
}

.work-card {
  background: #1a1919;
  height: 100%;
  padding: 1.2rem 1rem;
  border: 2px solid transparent;
}

.work-card img {
  width: 100%;
  border-radius: 50%;
  border: 2px solid #fff;
}

.work-title {
  color: #fff;
  text-shadow: 3px 3px 3px purple;
  padding: 1rem 0;

}

.work-details p {
  padding-bottom: 1rem;
  font-size: 1.1rem;
  text-align: justify;
  width: 100%;
}

.pro-btns {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.pro-btns .btn {
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 740px) {
  .project-container {
    margin: 20px 0;
    max-width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
  }
}
