/*-------------------------*/
/* Default Styling */
/*-------------------------*/

.hero {
  min-height: 100vh;
  width: 100vw;
  background-color: #1d332e;
  padding: 85px 0;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left-content,
.right-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 25px;
}

.right-content {
  align-items: center;
  justify-content: center;
}

.content h1 {
  font-size: 5rem;
  padding: 0.6rem 0 1rem;
  text-shadow: 5px 5px 5px purple;
}

.content p {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.1rem 0 1.5rem;
  width: 100%;
}

.button-style {
  display: flex;
  flex-direction: row;
}

.content .button {
  margin: 1rem 0.2rem;
  box-shadow: 10px 10px 5px black;
}

.content .button-light {
  margin: 1rem 0.2rem;
  box-shadow: 10px 10px 5px black;
}

.right-content img {
  margin-top: 1.5rem;
  width: 90%;
  height: auto;
  border: 2px solid transparent;
  border-radius: 50%;
}

/* -------------------------------- */
/* Mobile Devices */
/* -------------------------------- */
@media screen and (min-width: 0px) and (max-width: 480px) {
  .hero {
    height: 100%;
    width: 100%;
  }

  .hero .content {
    text-align: center;
  }

  .hero .content h1 {
    font-size: 3rem;
    padding: 0.6rem 0 1rem;
    text-shadow: 5px 5px 5px purple;
  }

  .hero .content p {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.1rem 0 1.5rem;
  }

  .content .button {
    margin: 1rem 0.2rem;
    box-shadow: 10px 10px 5px black;
  }

  .left-content {
    width: 100%;
  }

  .right-content {
    display: none;
  }

  .button-style {
    align-items: center;
    justify-content: center;
  }
}

/* -------------------------------- */
/* Tablets */
/* -------------------------------- */
@media screen and (min-width: 480px) and (max-width: 720px) {
  .hero {
    height: 50%;
    width: 100%;
  }

  .hero .content h1 {
    font-size: 3rem;
    padding: 0.6rem 0 1rem;
    text-shadow: 5px 5px 5px purple;
  }

  .hero .content p {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.1rem 0 1.5rem;
  }
  .content .button {
    margin: 1rem 0.2rem;
    box-shadow: 10px 10px 5px black;
  }

  .left-content {
    width: 100%;
  }

  .right-content {
    display: none;
  }
}

/* -------------------------------- */
/* Small Screens */
/* -------------------------------- */
@media screen and (min-width: 722px) and (max-width: 1080px) {
  .hero {
    height: 100%;
    width: 100%;
  }

  .hero .content h1 {
    font-size: 3rem;
    padding: 0.6rem 0 1rem;
    text-shadow: 5px 5px 5px purple;
  }

  .hero .content p {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.1rem 0 1.5rem;
  }
  .content .button {
    margin: 1rem 0.2rem;
    box-shadow: 10px 10px 5px black;
  }

  .content .img {
    position: absolute;
    width: 70%;
    height: auto;
    top: 25px;
    right: -80%;
    box-shadow: 10px 10px 5px black;
  }
}

/* -------------------------------- */
/* Desktop Screens */
/* -------------------------------- */

@media screen and (min-width: 1082px) and (max-width: 1200px) {
  .hero {
    height: 100%;
    width: 100%;
  }

  .left-content,
  .right-content {
    width: 50%;
  }

  .hero .content h1 {
    font-size: 3rem;
    padding: 0.6rem 0 1rem;
    text-shadow: 5px 5px 5px purple;
  }

  .hero .content p {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.1rem 0 1.5rem;
  }
  .content .button {
    margin: 1rem 0.2rem;
    box-shadow: 10px 10px 5px black;
  }
}
