.footer-container {
  background-color: rgb(188, 186, 186);
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.left {
  height: 100%;
  width: 50%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.location {
  display: flex;
}

.location p {
  width: 100%;
}

.right {
  height: 100%;
  width: 50%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.right p {
  width: 100%;
}

p {
  font-size: 1.2rem;
  width: 100%;
}

@media screen and (max-width: 640px) {
  .footer-container {
    flex-direction: row;
  }

  p {
    font-size: 0.95rem;
    width: 100%;
  }
}
